# dependencies
node_modules/

# build outputs
client/dist/
server/dist/

# env files (keep examples only)
# ignore all env files by default (keep examples)
server/.env
server/.env.*
!server/.env.example
client/.env
client/.env.*
!client/.env.example

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.key