# dependencies
node_modules/

# build outputs
dist/

# local env files
.env
.env.*

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.key
cloudbase-native/project.private.config.json
cloudbase-native/miniprogram/config/private.js
private-package/

private
